body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background: #222;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search {
  text-decoration: underline 3px;
  text-underline-offset: 8px;
  color: #0282f9;
}

.navbar-down .logo-header {
  width: 60px;
  height: 100%;
}

.nav-item:hover {
  text-decoration: underline 5px;
  text-underline-offset: 33px;
  color: #0282f9;
}

.nav-link {
  color: black;
}

.bg-blue {
  background-color: #0282f9;
}

.box-jumbotron-img {
  height: 400px;
  overflow: hidden;
}

.jumbotron-img {
  width: 100%;
}

.label-container {
  margin-top: -15px;

}

.box-label {
  padding: 5px 20px 5px;
}

.card-box {
  background: #222;
  border: none;
}

.card-img-top {
  object-fit: cover;
  aspect-ratio: 1/1;
  object-position: top;
}

/*FOOTER*/

.img-links {
  position: relative;
  margin-bottom: -30px;
  background-color: #0282f9;
}

.dc-links {
  background-image: url(/imgs/footer-bg.jpg);
  height: 500px;
}

.dc-links li:not(:first-child) {
  color: grey;
}

.end-footer {
  background-color: #303030;
  position: relative;
  margin-top: -30px
}

.end-footer img {
  display: flex;
  align-self: center;
}

.end-footer .text-follow-us {
  color: #0282f9;
}

.icon {
  width: 55px;
}

.sign-up-now {
  border: 1px solid #0282f9;
}